.icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  max-width: 100%;
  max-height: 100%;
}

.icon-female{
  background: url('/assets/images/icons/icon-female.png') no-repeat 50%;
}

.icon-man{
  background: url('/assets/images/icons/icon-man.png') no-repeat 50%;
}

.icon-arrow{
  background: url('/assets/images/icons/icon-arrow.png') no-repeat 50%;
}
