@keyframes resizeBackgroundImage {
  0% {
    background-size: 85%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes changeLeftPosition {
  0% {
    left: 190px;
  }
  100% {
    left: 217px;
  }
}

@keyframes slideFromBottomRight {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes slideFromLeft {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes subtleSlideFromLeftTitle {
  0% {
    opacity: 0;
    margin-left: 363px;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    margin-left: 373px;
  }
}

@keyframes subtleSlideFromLeftForm {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slideFromRight {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes setWidthSize {
  0% {
    width: 0%;
  }
  100% {
    width: calc(100% - 40px);
  }
}

@keyframes widthSize {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes buttonWidthSize {
  0% {
    width: 0%;
  }
  100% {
    width: 240px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
