/* Media queries
-------------------------------------------------------------- */
$screen: "only screen";

$media-lg : "#{$screen} and (min-width:#{$screen-lg})";
$media-md : "#{$screen} and (min-width:#{$screen-md}) and (max-width:#{$screen-md-max})";
$media-to-md : "#{$screen} and (max-width:#{$screen-md-max})";
$media-sm : "#{$screen} and (min-width:#{$screen-sm}) and (max-width:#{$screen-sm-max})";
$media-to-sm : "#{$screen} and (max-width:#{$screen-sm-max})";
$media-xs : "#{$screen} and (max-width:#{$screen-xs-max})";
$media-xs-small : "#{$screen} and (max-width:#{$screen-xs})";
