
/* Colors
-------------------------------------------------------------- */
$gray:          #dcdce1;
$gray-light:    #f2f2f5;
$gray-light2:   #a2a2af;
$gray-dark:     #242424;
$gray-dark-2:   #202020;
$violet:        #8658eb;
$violet-dark:   #652ae6;
$violet-hover:  #472a85;
$violet-hover-2:#411998;
$green:         #1cd4a3;
$red:           #ea3030;
$shadow-color:  rgba(35,35,39,0.3);

/* Typography
-------------------------------------------------------------- */
$base-family: 'Rubik', 'Arial', sans-serif;
$font-color: $gray-dark-2;

/* Animations
-------------------------------------------------------------- */
$animation-background: 6s;
$animation-form: 0.5s;
$animation-delay: 1.25s;
$animation-delay-2: 1.5s;
// $cubic-brazier: cubic-bezier(0.85, 0.78, 0.3, 0.93);
$cubic-brazier: cubic-bezier(0.500, 0.250, 0.310, 0.955);

/* Breakpoints
-------------------------------------------------------------- */
// Extra small screen / phone
$screen-xs:                  480px !default;

// Small screen / tablet
$screen-sm:                  768px !default;

// Medium screen / desktop
$screen-md:                  992px !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;

// Large screen / wide desktop
$screen-lg-xl:               1600px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;


