/* Buttons
-------------------------------------------------------------- */
.btn {
  $this: &;
  width: 230px;
  height: 50px;
  padding: 0;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  @include gradient($violet, $violet-dark);
  @include box-shadow($shadow-color);

  @media #{$media-xs-up}{
    width: 240px;
  }

  &:hover, &:focus {
    @include gradient($violet-hover, $violet-hover-2);
  }

  span {
    line-height: 50px;
  }

  &--arrow {
    position: relative;

    &:hover, &:focus {
      .icon-box {
        @include gradient($violet-hover, $violet-hover-2);
      }
    }

    .icon-box {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      background-color: $violet;
    }

    .btn-text{
      margin-left: -50px;
    }
  }
}
