.img-bckg {
  position: absolute;
  z-index: -1;

  &--before {
    width: 660px;
    height: 100%;
    background: url("/assets/images/gredient.svg") no-repeat left top;
    background-size: 100%;
    top: -93px;
    left: 0;

    animation: 6s ease-in-out 0s 1 resizeBackgroundImage;

    &:hover {
      background-size: 100%;
    }

    @media #{$media-xs-up} {
      top: 0;
    }

    @media #{$media-lg} {
      width: 47.5%;
    }
  }

  &--top {
    width: 605px;
    height: 40%;
    left: 217px;
    z-index: -2;
    background: url("/assets/images/lines-top.png") no-repeat left top;
    background-size: 100%;

    animation: 6s ease-in-out 0s 1 resizeBackgroundImage,
      6s ease-in-out 0s 1 changeLeftPosition;

    @media #{$media-lg} {
      left: 16%;
    }

    @media #{$media-xs} {
      display: none;
    }
  }

  &--after {
    height: 80px;
    width: 100%;
    bottom: 0;
    right: 0;
    background-size: 100%;

    animation: 6s ease-out 0s 1 slideFromBottomRight;

    @media #{$media-xs} {
      background: url("/assets/images/lines-mobile.png") no-repeat right bottom;
    }

    @media #{$media-xs-up} {
      height: 100%;
      background: url("/assets/images/lines-bottom.png") no-repeat right bottom;
    }
  }
}
