/* Body, html
-------------------------------------------------------------- */
body, html{
  font-size: 18px;
  font-family: $base-family;
}

/* Headers
-------------------------------------------------------------- */
h1, h2, h3, h4 {
  font-family: $base-family;
}
