<div class='form'>
  <p class="form__title">{{ formTitle }}</p>

  <form id='formAccount' [formGroup]="accountForm" #formDir="ngForm" (ngSubmit)="formSubmit()" novalidate>

    <div class="form_wrapper">
      <div class="form__box">
        <div class="form__group" [ngClass]="{'validation-failed' : (formDir.submitted && userName.errors.required)}">
          <input id='userName' name="userName" class="form__input" type="text" required formControlName="userName">

          <label for="userName" class="form__placeholder">Your name</label>
          <div class="required-error" *ngIf="formDir.submitted && userName.errors.required">
            <p>{{ requiredField }}</p>
          </div>
        </div>
      </div>

      <div class="form__box">
        <p class="form__box-title form__box-title--margin">Mobile</p>

        <div class="form__group form__group--inline" [ngClass]="{'validation-failed' : (formDir.submitted && userPhone.errors.required)}">
          <select name="countryPrefix" id="user-prefix">
            <option value="+48">+48 (PL)</option>
          </select>
          <input id='user-phone' class="form__input required" type="number" placeholder="123 456 789" pattern="[0-9]{9}" max="999999999"
            formControlName="userPhone">
          <div class="required-error"  *ngIf="formDir.submitted && userPhone.errors.required">
            <p>{{ requiredPhoneField }}</p>
          </div>
        </div>

      </div>

      <div class="form__box">
        <p class="form__box-title">Gender</p>

        <div class="form__radio-group" [ngClass]="{active: selectedGender==='female'}" tabindex="0">
          <input id="userGenderFemale" type="radio" name="gender" value="female" (click)="radioSelected('female')">
          <label for="userGenderFemale" class="form__icon">
            <span class="icon icon-female">
            </span>
          </label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </div>

        <div class="form__radio-group" [ngClass]="{active: selectedGender==='male'}" tabindex="0">
          <input id="userGenderMale" type="radio" name="gender" value="male" (click)="radioSelected('male')">
          <label for="userGenderMale" class="form__icon">
            <span class="icon icon-man">
            </span>
          </label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </div>
      </div>

      <div class="form__box">
        <p class="form__box-title">Date of birth</p>

        <div class="form__group form__group--inline form__group--date">
          <input id='userBirthDay' class="form__input form__input--box form__input--small" type="number" pattern="[0-9]{2}" max="31">
          <span class="spliter"></span>
          <input id='userBirthMonth' class="form__input form__input--box form__input--small-xs" type="text">
          <span class="spliter"></span>
          <input id='userBirthYear' class="form__input form__input--box" type="number" pattern="[0-9]{4}" [max]="currentYear">
        </div>
      </div>
    </div>


    <button class="btn btn--arrow form__btn" type="submit">
      <span class=btn-text>Continue</span>
      <span class="icon-box">
        <span class="icon icon-arrow"></span>
      </span>
    </button>
  </form>
</div>
