@import "~scss/helpers/variables";
@import "~scss/helpers/mixins";

/* Account form
-------------------------------------------------------------- */
.form {
  position: relative;
  height: 100%;
  width: 470px;
  max-width: 100%;
  padding: 35px 15px;

  @media #{$media-xs-up} {
    padding: 45px 50px;
  }

  &:before {
    position: absolute;
    content: "";
    top: -1px;
    left: 15px;
    height: 2px;
    width: 70px;
    background-color: $green;
    opacity: 0;
    animation: 0.5s $cubic-brazier $animation-delay-2 1 normal forwards opacity;

    @media #{$media-sm-up} {
      left: 50px;
      width: 70px;
    }
  }

  > p,
  .form_wrapper {
    opacity: 0;
    animation: 0.5s $cubic-brazier $animation-delay-2 1 normal forwards subtleSlideFromLeftForm;
  }

  /* Account form title
-------------------------------------------------------------- */
  &__title {
    max-width: 320px;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: inherit;

    @media #{$media-xs-up} {
      margin-bottom: 50px;
    }
  }

  /* Account form submit button
-------------------------------------------------------------- */
  &__btn {
    position: absolute;
    left: 50%;
    bottom: -25px;
    width: 0;
    cursor: pointer;
    transform: translateX(-50%);
    animation: 0.5s $cubic-brazier $animation-delay 1 normal forwards
      buttonWidthSize;

    @media #{$media-sm-up} {
      left: calc(100% - 190px);
      transform: none;
    }

    .btn-text {
      opacity: 0;
      animation: 0.5s $cubic-brazier 1.4s 1 normal forwards opacity;
    }

    .icon-box {
      transform: scale(0);
      transform-origin: 50% 100%;
      animation: 0.5s $cubic-brazier $animation-delay-2 1 normal forwards scale;
    }
  }

  /* Account form box
-------------------------------------------------------------- */
  &__box {
    margin-bottom: 20px;
  }

  /* Account form box title
-------------------------------------------------------------- */
  &__box-title {
    &--margin {
      margin-bottom: -10px;
    }
  }

  /* Account form input group
-------------------------------------------------------------- */
  &__group {
    position: relative;

    &--inline {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .spliter {
      width: 10px;
      height: 2px;
      background-color: $gray;
    }

    select {
      margin-right: 15px;
    }
  }

  /* Account form radio group
-------------------------------------------------------------- */
  &__radio-group {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 25px 0 0;

    &:focus {
      outline: none;

      label {
        border-color: $violet;
      }
    }

    label {
      display: inline-block;
      padding: 0;
      width: 50px;
      height: 50px;
      border: 2px solid $gray;
    }

    input {
      display: none;
    }

    .check {
      position: absolute;
      width: 15px;
      height: 15px;
      right: -7px;
      top: 50%;
      transform: translateY(-50%);
      border: 2px solid $gray;
      background: $gray-light;
    }
    .inside {
      position: absolute;
      display: none;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 3px;
      height: 3px;
      background: $green;
    }

    &.active {
      label,
      .check {
        border-color: $green;
      }

      .inside {
        display: block;
      }
    }
  }

  /* Account form input
-------------------------------------------------------------- */
  &__input {
    &[type="text"] {
      display: block;

      + label {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &--box {
      position: relative;
      width: 100px;
      border: 2px solid $gray;
      height: 50px;

      @media #{$media-xs-up} {
        width: 130px;
      }

      &:focus {
        border-color: $violet;
      }
    }

    &--small {
      width: 50px;
    }

    &--small-xs {
      @media #{$media-xs} {
        width: 50px;
      }
    }
  }

  /* Account form radio icon
-------------------------------------------------------------- */
  &__icon {
    width: 50px;
    height: 50px;
  }
}
