<section class="main">
    <div class="img-bckg img-bckg--before"></div>
    <div class="img-bckg img-bckg--top"></div>

  <div class="container-fluid">
    <div class="your-account">
      <h1 class="your-account__title">
        {{title}}
      </h1>

      <div class="your-account__wrapper">
        <div class="your-account__img animate-left">
          <img src="./../assets/images/side.png" />
          <img class="img-lines" src="./../assets/images/lines.png" />
        </div>
        <div class="your-account__form animate-right">
          <app-form></app-form>
        </div>
      </div>

    </div>
  </div>

    <div class="img-bckg img-bckg--after"></div>
</section>
